<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BDSM Checklist</title>
<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="global.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>var num_rows = {{ num_rows }};</script>
<script src="logic.js"></script>
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lucaburgio/iconoir@main/css/iconoir.css">-->
</head>

<body>
  <h1 id="title">BDSM Checklist</h1>

  <table id="checklist_table">
    <thead id="checklist_head">
      <tr>
	<th class="dom">Dom <span class="clear_buttons"><button id="clear_dom"><i class="iconoir-trash"></i><span class="tooltiptext">Clear answers</span></button>
	<button id="edit_dom"><i class="iconoir-edit-pencil"></i><span class="tooltiptext">Edit</span></button></span></th>
	<th class="sub">Sub <span class="clear_buttons"><button id="clear_sub"><i class="iconoir-trash"></i><span class="tooltiptext">Clear answers</span></button>
	<button id="edit_sub"><i class="iconoir-edit-pencil"></i><span class="tooltiptext">Edit</span></button></span></th>
      </tr>
    </thead>
{{ checklist rows }}
  </table>
  <p id="url_area"><input type="text" id="url_text" readonly></input>
    <button id="copy"><i class="iconoir-copy"></i><span class="tooltiptext">Copy URL</span></button></p>
</body>
</html>
